<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add information</title>
</head>
<body>
<form method="post" >
    <p> Input surname </p>
    <input name="surname" placeholder="Type surname here"/>
    <p> Input name </p>
    <input name="name" placeholder="Type name here"/>
    <p> Input email </p>
    <input name="email" placeholder="Type email here"/>
    <p> Input phone </p>
    <input name="phone" placeholder="Type phone here"/>
    <p>
        <button> Send</button>
    </p>
</form>
</body>
</html>